@model PropertyInputModel
@using SearchProperty.Data.Models.OfferedProperties.Enums;

@{
    var propertyType = Enum.GetValues(typeof(PropertyType));
}

<div class="col-md-6 ">
    <form asp-action="ShowPropertyDetails" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
        <div class="form-group">
            <select asp-for="PropertyType" class="form-control  alert-heading">
                <option value="">Изберете категория</option>
                @foreach (var type in propertyType)
                {
                    <option value="@type">@type</option>
                }
            </select>
            <span asp-validation-for="PropertyType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="mb-4">
                <div id="address" class="form-control"></div>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div id="map"></div>
        </div>
        <div class="form-group">
            <input asp-for="Price" class="form-control" placeholder="Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <textarea rows="5" asp-for="Description" class="form-control" placeholder="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="SquareMeters" class="form-control" placeholder="Square Meters" />
            <span asp-validation-for="SquareMeters" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="ForRent" class="form-control" placeholder="For Rent" />
            <span asp-validation-for="ForRent" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="PropertyId" class="form-control" />
            <input id="full-address" type="hidden" asp-for="Address.FullAddress" class="form-control" />
            <input id="street-address" type="hidden" asp-for="Address.Street" class="form-control" />
            <input id="town" type="hidden" asp-for="Address.Town" class="form-control" />
            <input id="neighborhood" type="hidden" asp-for="Address.Neighborhood" class="form-control" />
            <input id="lat" type="hidden" asp-for="Address.Lat" class="form-control" />
            <input id="lng" type="hidden" asp-for="Address.Lng" class="form-control" />
        </div>
    </form>
</div>
